/* Color palette: 
#FF8AE2
#9C4668 
*/

* {
    box-sizing: border-box;
  }
  
  html {
    font: 100%/1.5 'Inter';
  }
  
  a {
    text-decoration: none;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin: 0;
  }

  body {
    margin: 0;
  }