<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>PyladiesTNR X Hacktoberefest2020</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Navigation bar -->
  <header>
    <div class="navbar">
      <div class="navbar-logo">
        <a href="{{ url_for('home') }}">
          <img src="/static/images/pyladies.png">
        </a>
      </div>
      <ul class="navbar-menus">
        <li>
          <a href="https://github.com/PyladiesTNR/Hackotberfest-PyladiesTNR-2020/blob/main/README.md">
            <span>How To Contribute</span>
          </a>
        </li>

        <li>
          <a class="media" href="https://github.com/PyladiesTNR">
            <img src="/static/images/github-orange.svg">
          </a>
        </li>

        <li>
          <a class="media" href="https://twitter.com/PyladiesTNR">
            <img src="/static/images/twitter-orange.svg">
          </a>
        </li>
        
      </ul>
    </div>
  
  </header>

    <!-- Main Content -->
    <div class="main">
      <div class="main-title">
        <img src="/static/images/html-coding.png">
        <span>Contribute</span>
      </div>

      <div class="main-content">
        <p>This is an easy and a simple project to help first-time contributors participate in open source. Get Familiar with Git and GitHub.</p>
      </div>

      <div class="main-buttons">
          <span class="pink">contributors</span>
          <span class="white">{{ data|length }}</span>
      </div>
    </div>

    <!-- Cards Display -->
    <div class="cards-display">
      <div class="card-bg">
        <div class="card-flex">
          <div class="card">
            <h6>Your Name [Template]</h6>
            <p>Write something about yourself.</p>

            <div class="card-images">
              <img src="/static/images/twitter-orange.svg">
              <img src="/static/images/github-orange.svg">
              <img src="/static/images/facebook-orange.png">
            </div>
          </div>

          {% for key, value in data.items() %}
           <div class="card">
            <h6>{{ value.name|e }}</h6>
            <p>{{ value.about|e }}</p>

            <div class="card-images">
              <a href={{ value.twitter|e }} target="_blank"><img src="/static/images/twitter-orange.svg"></a>
              <a href={{ value.github|e }} target="_blank"><img src="/static/images/github-orange.svg"></a>
              <a href={{ value.facebook|e }} target="_blank"><img src="/static/images/facebook-orange.png"></a>
            </div>
          </div>
          {% endfor %}

        </div>
    
    </div>


</body>
 
